.icons {
    background-color: rgb(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
    height: 20em;
    position: absolute;
    top: 0;
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
}

.icon {
    width: 2em;
    height: 2em;
    cursor: pointer;
}