.search {
    width: 100%;
    height: 80%;
}

.text {
    width: 100%;
    display: inline-block;
    text-align: center;
    height: 40%;
}

.title {
    font-weight: bold;
    color: #FFF;
    font-size: 2.1rem;
    margin: 0;
}

.subtitle {
    color: #FFF;
    font-size: 1.5rem;
    margin: 0;
}

.input {
    width: 60%;
    border-radius: 2em;
    margin: 3.6em auto;
    display: block;
    color: #FFF;
    background-color: #02242D;
    font-size: 1rem;
    padding: .8em 3.5em;
    border: 0;
}

::placeholder {
    color: #FFF;
}

.icon {
    width: 4em;
    height: 4em;
    cursor: pointer;
    position: absolute;
    left: 20%;
    top: 1%;
    appearance: none;
    background: transparent;
    border: 0em;
    background-image: url('../../assets/icon/search.svg');
    background-repeat: no-repeat;
}

.search__container {
    position: relative;
    height: 46%;
}