.search {
    width: 100%;
}

.text {
    width: 100%;
    text-align: center;
}

.title {
    font-weight: bold;
    color: #FFF;
    font-size: 2.1rem;
    margin: 0;
}

.subtitle {
    color: #FFF;
    font-size: 1.5rem;
    margin: 0;
}

.input {
    width: 60%;
    border-radius: 2em;
    margin: 3.6em auto;
    display: block;
    color: #FFF;
    background-color: #02242D;
    font-size: 1rem;
    padding: .6em 2.5em;
}

::placeholder {
    color: #FFF;
}

.icon {
    position: absolute;
    left: 19%;
}

.search__container {
    position: relative;
}