.modal {
    width: 60%;
    height: 60%;
}

.modal::backdrop {
    background-color: rgb(0, 0, 0, 0.5);
}

.label {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 0em;
}

.text {
    font-size: 1rem;
    margin: 0em;
}

.close {
    width: 100%;
    height: 5%;
    text-align: end;
}

.button__close {
    background-color: transparent;
    appearance: none;
    border: 0em;
    padding: 0em;
    cursor: pointer;
}

.button__close:focus-visible {
    outline: 0.2em;
}

.img__close__icon {
    width: 100%;
    height: 100%;
}

.form {
    display: grid;
    grid-template-columns: 5% 30% 30% 30% 5%;
    grid-template-areas:
        '. . img . .'
        '. label__desc label__desc label__desc .'
        '.  desc desc desc .'
        '. likes__label date__label size__label .'
        '. likes__text date__text size__text .'
        '.  . submit . .'
    ;
    row-gap: 2em;
}

.label__desc {
    grid-area: label__desc;
    font-weight: bold;
    font-size: 1.5rem;
}

.desc {
    grid-area: desc;
    height: 6em;
}

.modal__img {
    cursor: pointer;
    grid-area: img;
}

.likes__label {
    grid-area: likes__label;
}

.likes__text {
    grid-area: likes__text;
}

.date__label {
    grid-area: date__label;
    text-align: center;
}

.date__text {
    grid-area: date__text;
    text-align: center;
}

.size__label {
    grid-area: size__label;
    text-align: end;
}

.size__text {
    grid-area: size__text;
    text-align: end;
}

.button__submit {
    grid-area: submit;
}

@media (max-width: 1200px) {
    .form {
        grid-template-columns: 5% 45% 45% 5%;
        grid-template-areas:
            '. img . .'
            '. label__desc label__desc .'
            '. desc desc .'
            '. likes__label likes__text .'
            '. date__label date__text .'
            '. size__label size__text .'
            '. . submit .'
        ;
    }

    .label {
        font-size: 1rem;
    }

    .size__label, .size__text {
        text-align: left;
    }

    .date__label, .date__text {
        text-align: left;
    }

    .desc {
        height: 10em;
    }
}